header{
background-image:url(../images/bathroom.jpg);
background-repeat:no-repeat;
line-height:9;
background-size:cover;
}
.btnc{
font-size:large;
padding:3% 14%;
border:0;
background-color:white;
margin:2% 0;
opacity:0.7;
display:inline-block;
}
.btnb{
font-size:large;
padding:3% 19%;
border:0;
background-color:white;
margin:2% 0;
opacity:0.7;
display:inline-block;
}
